* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  min-width: 320px;
  background: #cccccc;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

/*header*/
.header {
  background: url("assets/rectangle.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header_logo a {
  position: absolute;
  margin-left: 16px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

.header_sidebar li {
  display: inline-block;
  margin-left: 60px;
}

.header_sidebar a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
  text-decoration: none;
}

.header_sidebar button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  background-color: transparent;
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
}

.header_main {
  margin-top: 80px;
}

.header_main p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

.header_main .paragraph {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}

.header_main .text {
  margin-top: 51px;
  width: 274px;
  height: 108px;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}

.header_main button {
  margin-top: 50px;
  width: 160px;
  height: 60px;
  background: #cd6326;
  border-radius: 5px;
  border: none;
  font-family: Roboto;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
}

/*latest_articles*/
.title {
  display: block;
  width: 332px;
  margin: auto;
  margin-top: 120px;
}

.title p {
  margin-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.title p:first-child {
  font-size: 48px;
  line-height: 72px;
  color: #333333;
}

.title p:last-child {
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}

.carousel {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  color: #f7f7f7;
}

.first {
  position: relative;
}

.deer,
.squirrel,
.bird {
  position: absolute;
  top: 247px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  line-height: 36px;
}

.squirrel_description,
.bird_description {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  line-height: 27px;
}

.deer_description {
  position: absolute;
  bottom: 40px;
  left: 57px;
  font-size: 17px;
  line-height: 27px;
}

.mail_text p {
  padding-top: 240px;
  width: 526px;
  margin: auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.mail_button form {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  width: 660px;
  margin: auto;
}

.mail_button input {
  width: 540px;
  height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  align-items: center;
  color: #666666;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px 0px 0px 5px;
  padding-left: 15px;
}

.mail_button button {
  width: 120px;
  height: 60px;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
}

.mail_button {
  margin-bottom: 240px;
}

/*footer*/
.footer {
  background: url("assets/footer.jpg") center no-repeat;
  background-size: cover;
  height: 360px;
}

.footer_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
}

.footer_menu {
  margin-left: 190px;
}

.footer_menu li {
  display: inline-block;
  text-decoration: none;
}

.footer_menu a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
  text-decoration: none;
  margin-right: 80px;
}

.footer_menu li:last-child a {
  margin-right: 0px;
}

.social li {
  display: inline-block;
  text-decoration: none;
  margin-right: 25px;
}

.social li:last-child a {
  margin-right: 0px;
}

/*adaptive layout*/
@media (max-width: 720px) {
  .header {
    background: url("assets/rectangle2.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .header_top {
    padding-top: 20px;
  }

  .wrap {
    max-width: 560px;
  }

  .header_logo {
    display: inline-block;
  }

  .header_logo a {
    font-size: 30px;
    text-transform: uppercase;
    color: #f7f7f7;
    margin-top: -5px;
  }

  .header_logo img {
    width: 50px;
  }

  .header_sidebar {
    display: none;
  }

  .header_sidebar li {
    margin-left: 15px;
  }

  .header_sidebar a {
    font-size: 11px;
    color: #f7f7f7;
    text-decoration: none;
  }

  .header_sidebar button {
    font-size: 11px;
    color: #f7f7f7;
    background-color: transparent;
    width: 90px;
    height: 35px;
    border: 2px solid #cd6326;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .header_sidebar img {
    width: 13px;
  }

  .header_main {
    margin-top: 70px;
  }

  .header_main .paragraph {
    font-size: 40px;
    letter-spacing: 2px;
    color: #cd6326;
  }

  .header_main .text {
    margin-top: 30px;
    width: 290px;
    height: 120px;
    font-size: 18px;
    line-height: 27px;
    color: #f7f7f7;
  }

  .header_main button {
    margin-top: 70px;
    width: 160px;
    height: 60px;
    background: #cd6326;
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-size: 23px;
    line-height: 27px;
    color: #f7f7f7;
  }

  .title,
  .carousel,
  .first,
  .mail_text,
  .mail_button,
  .footer {
    display: none;
  }
}
